@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto_SemiCondensed-Regular.woff2) format(wff2);
    font-weight: 400;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #fff;
}

.header {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 58px;
}

.container {
    width: 1200px;
    height: 100vh;
    position: relative;
}

.text {
    width: 100%;
    height: 37px;
    background-color: #000;
    text-align: center;
    padding-top: 9px;
    margin-bottom: 45px;
}

.text p {
    color: #F7F5F0;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16.9px;
    
}

.header__wrapper {
    margin-top: 308px;
    margin-left: 100px;
    width: 500px; 
    height: 530px;
}

.header__foto {
    position: absolute;
    width: 700px;
    height: 799px;
    margin-left: 500px;
    z-index: 1;
}

.header__title {
    color: #000;
    font-size: 54px;
    font-family: inherit;
    line-height: 64.8px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 28px;
}

.description {
    margin-left: 182px;
    font-size: 18px;
    color: #000;
    line-height: 25.2px;
    margin-bottom: 39px;
    letter-spacing: 0.36px;
}

.header__btn {
    width: 130px;
    height: 47px;
    margin-left: 182px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
   
}

.main {
    max-width: 1200px;
    
    margin: 0 auto;
}

.galary {
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
}

.mtitle {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    color: #000;
    line-height: 19.5px;
    margin-bottom: 39px;
}

.label {
    margin-right: 83px;
}

.label__skimm {
    margin-right: 0;
}



.galary__label {
    margin-bottom: 250px;
    margin-left: 250px;
    margin-right: 250px;
}

.about-us {
    display: flex;
    justify-content: start;
    gap: 50px;
    margin-bottom: 47px;
}

.galary__text {
    display: flex;
    flex-direction: column;
    padding-left: px;
    padding-top: 57px;
    width: 350px;
    margin-right: 50px;
}

.doc {
    font-weight: 400;
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 70px;
    letter-spacing: 0.99px;
    color: #000;
}

.name {
    font-weight: 400;
    font-family: inherit;
    color: #000;
    font-size: 54px;
    line-height: 64.8px;
    margin-bottom: 91px;
}

.galary__description {
  font-size: 18px;
  color: #000;
  font-family: inherit;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 47px;
}

.galary__btn {
    width: 147px;
    height: 47px;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
}

.statistic {
    width: 100%;
    height: 100vh;
}





